:root{
    --branco: #ffffff;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%)
}

.webHeader{
    display: flex;
    background-color: var(--branco);
    justify-content: space-between;
    margin: 0;
    height: 5em;
}

.container__imagem{
    padding: 1em;
}

/*Logo ocultado para mobile*/
.webHeader_logologo{
    display: none;
}

.webHeader_Menu{
    margin-right: auto;
    padding: 20px;
}

.webHeader__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(/assets/img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.webHeader_logologo{
    width: 10em;
}

.webIcons{
    display: flex;
    flex-direction: row;
}

.webIcons_a{
    justify-content: space-between;
    margin: auto;
    padding: 5px;
    align-items: center;
}

.webIcons_img{
    width: 2.5em;
}




.webHeader_ul{
    display: none;
}

.webHeader_input{
    display: none;
}


.webHeader_input:checked~.webHeader_label{
    background: var(--azul-degrade);
    background-repeat: no-repeat;
} 


/*Evento de quando clicado no botão, aparece a lista*/

.webHeader_input:checked~.webHeader_ul{
    display: block;
    appearance: none;
}

