/* Estilos para smartphones pequenos 480*/

:root{
    --branco: #ffffff;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%)
    --fonte-principal: 'Instrument Sans', sans-serif;
    --cinza-escuro: rgb(169, 169, 169);
}

.webHeader{
    display: flex;
    background-color: #c6c6c6;
    justify-content: space-between;
    margin: 0;
    height: 5em;
}

.container__imagem{
    padding: 1em;
}

.webHeader_Menu{
    margin-right: auto;
    padding: 20px;
    top: 0;
    left: 0;
}

.webHeader__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(/assets/img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.webHeader_input:checked~.webHeader_label>.webHeader__menu-hamburguer{
    background-image: url(/assets/img/menu_aberto.svg);
}

.webHeader_input:checked~.webHeader_label{
    background: var(#000000);
} 


.webHeader_logologo{
    width: 10em;
}

.webIcons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.webIcons_a{
    margin: auto;
    padding: 5px;
    align-items: end;
}

.webIcons_img{
    width: 2em;
    transition: 0.5s;
}

.webIcons_img:hover{
    width: 3.5em;
}



.webHeader_ul{
    position: absolute;
    top: 5em;
    left: 0em;
    display: none;
    background-color: var(--cinza-escuro);
    z-index: 2;
}

.webHeader_input{
    display: none;
}

/*Evento de quando clicado no botão, aparece a lista*/

.webHeader_input:checked~.webHeader_ul{
    display: block;
}

.webHeader_li{
    padding: 1em;
    background-color: var(--azul-degrade);
}

.webHeader_a{
    background-clip: text;
    background: var(--branco);
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Estilos para desktops médios e grandes */
@media (min-width: 1200px) {
    .webHeader{
        height: 5em;
    }

    .webIcons_a{
        margin: 5px 15px;
    }
    .webIcons_img{
        width: 3em;
    }
}
