/* Estilo geral do footer */
.webFooter {
    background-color: var(--background);
    padding: 20px;
  }
  
  /* Estilo do título do footer */
  .footer_title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--cinza-escuro);
    font-size: 2em;
  }
  
  /* Estilo dos dados de contato */
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_ul{
  margin: 20px 0px;
  padding: 15px 0px;
}

.contact_data:first-child{
  font-weight: bold;
  font-size: 32px;
  margin: 20px 0px;
}
.contact_data{
  font-size: 20px;
  margin: 15px 0px;
}

  /* Estilo da seção de newsletter */
  .footer_newsletter {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .footer_newsletter-title {
    margin-bottom: 20px;
    color: var(--cinza-escuro);
    font-size: 2em;
  
    font-weight: bold;
  }

  #emailData{
    border-radius: 5px;
    margin: 15px 0px;
    padding: 4px 15px;
  }
  
  label{
    color: var(--cinza-escuro);
    font-weight: bold;
    margin: 5px 5px;
    font-size: 20px;
  }
  #checkBoxTerms{
    font-size: 5px;
  }


  /* Estilo das mídias sociais */
  .socialMedias_nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .socialMedias_nav a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .socialMedias_img {
    width: 40px;
  }
  
  @media (min-width: 1024px) and (max-width: 1199px) {
    .footer__title {
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
    }

    .footer_newsletter{
     display: flex;
     flex-direction: row; 
    }
  
    .footer_newsletter-title {
      margin: 15px 0px;
      font-size: 1.5em;
    }
  
    .socialMedias_img {
      width: 5em;
    }
    
  }
  