@import url(./cabecalho/cabecalho.css);
@import url(./main/conteudo.css);


:root{
    --fonte-principal: 'Instrument Sans', sans-serif;
    --branco: #ffffff;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%)
}

.webSubstance{
    background: #c6c6c6;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
}

.banner-section {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .banner-container {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .banner-image {
    width: 100vw;
    height: auto;
  }
  